
//Gör ett HTML-element till flex-behållaren
@mixin flex($dir, $cont, $items, $hidden) {
  @if $hidden == 'hidden'{
    display: none;
  } @else {
    display: flex;
  }
  justify-content: $cont;
  align-items: $items;
  flex-direction: $dir;
}

