@use '../base/dimens';
@use '../base/layout';
@use '../base/colors';

// Stillmallen för logotypen
.logo {
  @include dimens.border-width(100%);
  height: 140px;
  @include layout.flex(column, center, center, 'visible');
  @include colors.background('primary', 'light');
  border-bottom: 1px solid colors.$accent-light;
}

#logo-link,
#logo-link {
  @include colors.foreground('accent', 'light');
}

// Nattläget för logotypen
@media (prefers-color-scheme: dark) {
  #logo-link {
    @include colors.foreground('accent', 'dark');
  }
  .logo {
    @include colors.background('primary', 'dark');
    border-bottom: 1px solid colors.$accent-dark;
  }
}