@use '../base/layout';
@use '../base/dimens';

main {
  @include dimens.border-width(100%);
  @include layout.flex(column, center, center, 'visible');
  @include dimens.no-margins;
  margin: 1rem 0;
  background-color: var(--surface);
}

@media screen and (min-width: 600px) {
  main {
    max-width: dimens.$max-width;
    align-items: start;
    margin: 2rem;
  }
}